body {
  background-color: #333;
}

#grid {
  width: 50%;
}

#grid div.empty { background: url('../images/empty.png') center/100%; }
#grid div.player-left { background: url('../images/player-left.png') center/100%; }
#grid div.player-right { background: url('../images/player-right.png') center/100%; }
#grid div.player-up { background: url('../images/player-up.png') center/100%; }
#grid div.player-down { background: url('../images/player-down.png') center/100%; }
#grid div.wall { background: url('../images/wall.png') center/100%; }
